@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

/* * {
	margin: 0;
	padding: 0;
}
 */
body {
	margin: 0;
	padding: 0;
	color: #322c29;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.content {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 5px;
}

h1 {
	margin: 0;
	padding: 0.2em 1em;
	background-color: #fcb424;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 2.6em;
	font-weight: 400;
}

h2 {
	margin: 0;
	padding: 0;
}

.visibility-hidden {
	position: absolute;
	margin: -1px;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

.hidden {
	display: none;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 40px 0;
	padding-top: 8px;
	padding-right: 28px;
	padding-bottom: 8px;
	padding-left: 18px;
	border: 2px solid #fcb424;
	background-color: #fafafa;
}

#user-name {
	margin: 0;
	margin-bottom: 0.4em;
	font-size: 1.4em;
	font-weight: 400;
}

#user-email {
	color: #fcb424;
	font-weight: 600;
}

.user-games-counter > .user-achievement-name,
.user-games-counter > .user-achievement-score {
	color: #3baff9;
}

.user-rating-counter > .user-achievement-name,
.user-rating-counter > .user-achievement-score {
	color: #ef7218;
}

.user-achievement-name {
	margin: 0;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
}

.user-achievement-score {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 1.8em;
	font-weight: 600;
}

.user-rating-counter > .user-achievement-score {
	font-size: 2.6em;
}

.user-games-counter > .user-achievement-score {
	margin-top: 0.3em;
}


.profile > img,
.general-user-info,
.user-games-counter,
.user-rating-counter {
	display: block;
}

.general-user-info {
	flex-grow: 1;
	margin: 0 24px;
}

.user-games-counter {
	position: relative;
	align-self: flex-start;
	cursor: pointer;
}

.user-rating-counter {
	align-self: flex-start;
	margin-left: 60px;
}

.games-tooltip {
	display: flex;
	position: absolute;
	top: 120%;
	left: -225%;
	justify-content: space-between;
	opacity: 0;
	z-index: 1;
	width: 12em;
	padding: 6px 12px;
	border: 1px solid #fcb424;
	background-color: white;
	transition: opacity 0.2s;
}

.games-tooltip::after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fcb424 transparent;
	content: "";
}

.user-games-counter:hover .games-tooltip {
	opacity: 1;
}

.games-tooltip > li {
	display: flex;
}

.achievement-score {
	display: inline-block;
	font-size: 1.4em;
}

.achievement-type::before {
	display: inline-block;
	margin-right: 0.6em;
	width: 1.6em;
	height: 1.6em;
	background-image: url(../img/icons/icons-game-results.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
}

.wins > .achievement-score {
	color: #91ce0e;
}

.draws > .achievement-score {
	color: #7665ff;
}

.loses > .achievement-score {
	color: #ef7218;
}

.draws::before {
	background-position-x: center;
}

.loses::before {
	background-position: right;
}

#server-status {
	display: flex;
	justify-content: center;
	margin: 30px;
}

#server-status[data-free = true] .server-status-free,
#server-status span {
	position: static;
	margin: 0;
	width: unset;
	height: unset;
	overflow: visible;
	text-transform: uppercase;
	font-size: 2.5em;
	clip: auto;

}

.hexagon {
	position: relative;
	margin-top: 0.86em;
	margin-right: 2em;
	width: 3em; 
	height: 1.73em;
	background-color: #ef7218;
}

.hexagon:before,
.hexagon:after {
	position: absolute;
	left: 0;
	width: 0;
	border-right: 1.5em solid transparent;
	border-left: 1.5em solid transparent;
	content: "";
}

.hexagon:before {
	bottom: 100%;
	border-bottom: 0.86em solid #ef7218;
}

.hexagon:after {
	top: 100%;
	width: 0;
	border-top: 0.86em solid #ef7218;
}

#server-status[data-free = true] .server-status-busy,
#server-status .server-status-free {
	position: absolute;
	margin: -1px;
	width: 1px;
	height: 1px;
	padding: 0;

	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

#server-status[data-free = true] .hexagon {
	background-color: #91ce0e;
}

#server-status[data-free = true] .hexagon:before {
	border-bottom-color: #91ce0e;
}

#server-status[data-free = true] .hexagon:after {
	border-top-color: #91ce0e;
}

#server-status[data-free = true] span {
	color: #91ce0e;
}

#server-status span {
	color: #ef7218;
}

#server-status[data-free = true] ~ #online-players::after {
	width: 0;
	height: 0;
}

#online-players {
	position: relative;
	width: 100%;
	border: 2px solid #fcb424;
	background-color: #fafafa;
}

#online-players::after {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	content: "";
}

#online-players table {
	width: 100%;
	border-collapse: separate; 
	border-spacing: 0 0.4em;
}

#online-players .header-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fcb424;
}

#online-players .header-line h2 {
	position: relative;
	padding: 0.5em 3em;
	text-transform: uppercase;
	color: white;
	font-size: 1.2em;
	font-weight: 400;
}

#online-players .header-line h2::before {
	display: block;
	position: absolute;
	top: 0.4em;
	left: 1em;
	width: 1.4em;
	height: 1.4em;
	background-image: url(../img/icons/icons-invitations-action.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
}

#refresh-btn {
	margin-right: 1.6em;
	width: 2em;
	height: 2em;
	background-image: url(../img/icons/icons-invitations-action.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

#online-players th {
	padding: 0.5em 0.8em;
	background-color: #fcb424;
	text-align: left;
	text-transform: uppercase;
	color: white;
	font-weight: 400;
}

#online-players tr {
	background-color: white;
}

#online-players td {
	min-height: 35px;
	padding: 0.5em 0.8em;
	border-top: 2px solid #fcb424;
	border-bottom: 2px solid #fcb424;
	
}

#online-players td:first-child,
#online-players th:first-child {
	width: 35px;
	background-image: url(../img/icons/icons-invitation.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 0em;
}

#online-players td:last-child {
	text-align: center;
	color: #ef7218;
	font-size: 1.2em;
	font-weight: 600;
}

#online-players th:last-child {
	text-align: center;
}

#inviters tr,
#other-users tr {
	cursor: pointer;
}

#invited tr {
	cursor: context-menu;
}

#inviters tr:hover {
	background-color: #f7ffe6;
}

#inviters tr:active {
	background-color: #f0fdd4;
}

#other-users tr:hover {
	background-color: #fff5e2;
}

#other-users tr:active {
	background-color: #ffecc6;
}

#inviters td:first-child {
	background-position: left;
}

#inviters td {
	border-color: #91ce0e;
}

#invited td:first-child {
	background-position: center;
}

#invited td {
	border-color: #3baffa;
}

#online-players td:nth-child(2),
#online-players th:nth-child(2) {
	width: 30%;
}

#online-players td:nth-child(3),
#online-players th:nth-child(3) {
	width: 55%;
}

#online-players td:nth-child(3) {
	color: #fcb424;
	font-weight: 600;
}

#playing {
	width: 100%;
}

.game-status-header {
	display: flex;
	align-items: stretch;
	flex-direction: row-reverse;
	
	justify-content: space-between;
	padding: 0 2em;
	background-color: #fcb424;
}

.game-status-header h1 {
	display: inline-block;
	font-size: 1.2em;
}

.hexagons-6 {
	width: 8em;
	background-image: url();
}

#game-status {
	display: flex;
	align-items: stretch;
	border: 2px solid #fcb424;
}

#game-status div {
	display: flex;
	align-items: center;
}

#move-counter {
	color: #7665ff;
	font-weight: 600;
}

.move-box {
	padding: 0 1.2em;
	border-right: 2px solid #fcb424;
	background-color: #fafafa;
}

.rightmove-box {
	position: relative;
	padding-right: 2.8em;
	padding-left: 3.8em;
	background-color: #fafafa;
}

.rightmove {
	text-transform: uppercase;
	color: #ef7218;
	font-size: 0.8em;
	font-weight: 600;
}

.rm-f {
	color: #ef7218;
}

.rm-t {
	color: #91ce0e;
}

#playing[data-right-move="true"] .rm-f {
	font-size: 0em;
}

#playing[data-right-move="true"] .rightmove-box::before {
	background-color: #91ce0e;
}

#playing[data-right-move="false"] .rm-t {
	font-size: 0em;
}

#playing[data-right-move="false"] .rightmove-box::before {
	background-color: #ef7218;
}

.rightmove-box::before {
	display: block;
	position: absolute;
	left: 1.2em;
	width: 1.4em;
	height: 1.4em;
	border-radius: 50%;
	background-color: white;
	content: "";
}

#playing {
	position: fixed;
}

.field {
	display: flex;
	position: relative;
	align-items: stretch;
	justify-content: space-between;
	height: 100vh;
}

#playing[data-right-move=false] .field:after {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.219);
	content: "";
}

.hands {
	display: block;
	margin: 0;
	width: 100px;
	padding: 20px 15px;
	border-right: 10px solid #edebe8;
	background-color: #fafafa;
	list-style: none;
}

.field li {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 2vh;
	height: 16vh;
}

.figure-counter {
	position: absolute;
	top: -14px;
	padding: 0.2em;
	font-size: 1.2em;
	font-weight: 600;
}

#bee-counter {
	color: #fcb424;
}

#bug-counter {
	color: #7665ff;
}

#spider-counter {
	color: #ef7218;
}

#grasshopper-counter {
	color: #91ce0e;
}

#ant-counter {
	color: #3baff9;
}

#playing[data-white = false] .figure,
#playing[data-white = true] .figure[data-opponent] {
	--secondary-color: #2f2e35;
	--primary-color: #444344;
}

#playing[data-white = true] .figure[disabled],
#playing[data-white = true] .figure[disabled]:hover,
#playing[data-white = true] .figure[disabled]:active {
	--secondary-color: #dddce2;
	--primary-color: #f5f3f0;
}

#playing[data-white = false] .figure:hover,
#playing[data-white = true] .figure[data-opponent]:hover {
	--secondary-color: #19181d;
	--primary-color: #555455;
}

#playing[data-white = false] .figure:active,
#playing[data-white = true] .figure[data-opponent]:active {
	--secondary-color: #19181d;
	--primary-color: #474547;
}

#playing[data-white = true] .figure,
#playing[data-white = false] .figure[data-opponent] {
	--secondary-color: #c7c5ce;
	--primary-color: #edebe8;
}

#playing[data-white = false] .figure[disabled],
#playing[data-white = false] .figure[disabled]:hover,
#playing[data-white = false] .figure[disabled]:active {
	--secondary-color: #5a595f;
	--primary-color: #6d6b6d;
}

#playing[data-white = true] .figure:hover,
#playing[data-white = false] .figure[data-opponent]:hover {
	--secondary-color: #b2b0b9;
	--primary-color: #ebe8e4;
}

#playing[data-white = true] .figure:active,
#playing[data-white = false] .figure[data-opponent]:active {
	--secondary-color: #b2b0b9;
	--primary-color: #e0ddd9;
}

.space {
	--secondary-color: #f5f5f5;
	--primary-color: #fafafa;
}

.space:hover {
	--secondary-color: #e1e1e6;
	--primary-color: #f0eeee;
}

.space:active {
	--secondary-color: #e1e1e6;
	--primary-color: #ebe9e9;
}

#playing .figure[data-path],
.space[data-path] {
	--secondary-color: #3baffa;
}

#table {
	width: 100%;
	height: 100%;
}