@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

* {
	margin: 0;
	padding: 0;
	/* border: 0.2px solid #00000065; */
	color: #322c29;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.content {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 5px;
}

h1 {
	padding: 0.2em 1em;
	background-color: #fcb424;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 2.6em;
	font-weight: 400;
}

.visibility-hidden {
	position: absolute;
	margin: -1px;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

.profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 40px 0;
	padding-top: 8px;
	padding-right: 28px;
	padding-bottom: 8px;
	padding-left: 18px;
	border: 2px solid #fcb424;
	background-color: #fafafa;
}

.user-name {
	margin-bottom: 0.4em;
	font-size: 1.4em;
	font-weight: 400;
}

.user-email {
	color: #fcb424;
	font-weight: 600;
}

.user-games-counter > .user-achievement-name,
.user-games-counter > .user-achievement-score {
	color: #3baff9;
}

.user-rating-counter > .user-achievement-name,
.user-rating-counter > .user-achievement-score {
	color: #ef7218;
}

.user-achievement-name {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
}

.user-achievement-score {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 1.8em;
	font-weight: 600;
}

.user-rating-counter > .user-achievement-score {
	font-size: 2.6em;
}

.user-games-counter > .user-achievement-score {
	margin-top: 0.3em;
}


.profile > img,
.general-user-info,
.user-games-counter,
.user-rating-counter {
	display: block;
}

.general-user-info {
	flex-grow: 1;
	margin: 0 24px;
}

.user-games-counter {
	position: relative;
	align-self: flex-start;
	cursor: pointer;
}

.user-rating-counter {
	align-self: flex-start;
	margin-left: 60px;
}

.games-tooltip {
	display: flex;
	position: absolute;
	top: 120%;
	left: -225%;
	justify-content: space-between;
	opacity: 0;
	z-index: 1;
	width: 12em;
	padding: 6px 12px;
	border: 1px solid #fcb424;
	background-color: white;
	transition: opacity 0.2s;
}

.games-tooltip::after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fcb424 transparent;
	content: "";
}

.user-games-counter:hover .games-tooltip {
	opacity: 1;
}

.games-tooltip > li {
	display: flex;
}

.achievement-score {
	display: inline-block;
	font-size: 1.4em;
}

.achievement-type::before {
	display: inline-block;
	margin-right: 0.6em;
	width: 1.6em;
	height: 1.6em;
	background-image: url(../public/img/icons/icons-game-results.png);
	background-size: cover;
	background-repeat: no-repeat;
	content: "";
}

.wins > .achievement-score {
	color: #91ce0e;
}

.draws > .achievement-score {
	color: #7665ff;
}

.losing > .achievement-score {
	color: #ef7218;
}

.draws::before {
	background-position-x: center;
}

.losing::before {
	background-position: right;
}

.server-status {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.server-status span {
	position: static;
	margin: 0;
	width: unset;
	height: unset;
	overflow: visible;
	text-transform: uppercase;
	color: #91ce0e;
	font-size: 2.5em;
	clip: auto;

}

.hexagon {
	position: relative;
	margin-top: 0.86em;
	margin-right: 2em;
	width: 3em; 
	height: 1.73em;
	background-color: #91ce0e;
}

.hexagon:before,
.hexagon:after {
	position: absolute;
	left: 0;
	width: 0;
	border-right: 1.5em solid transparent;
	border-left: 1.5em solid transparent;
	content: "";
}

.hexagon:before {
	bottom: 100%;
	border-bottom: 0.86em solid #91ce0e;
}

.hexagon:after {
	top: 100%;
	width: 0;
	border-top: 0.86em solid #91ce0e;
}

.server-status[free] .server-status-busy,
.server-status[busy] .server-status-free {
	position: absolute;
	margin: -1px;
	width: 1px;
	height: 1px;
	padding: 0;

	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

.server-status[busy] .hexagon {
	background-color: #ef7218;
}

.server-status[busy] .hexagon:before {
	border-bottom-color: #ef7218;
}

.server-status[busy] .hexagon:after {
	border-top-color: #ef7218;
}

.server-status[busy] span {
	color: #ef7218;
}

.online-players {
	display: flex;
	flex-direction: column;
	border: 2px solid #fcb424;
	background-color: #fafafa;
}

.online-players .header-line {
	background-color: #fcb424;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.online-players .header-line h2 {
	text-transform: uppercase;
	color: white;
	font-size: 1.2em;
	font-weight: 400;
	padding: 0.5em 3em;
	position: relative;
}

.online-players .header-line h2::before {
	content: "";
	display: block;
	position: absolute;
	width: 1.4em;
	height: 1.4em;
	top: 0.4em;
	left: 1em;
	background-image: url(../public/img/icons/icons-invitations-action.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.refresh-btn {
	width: 2em;
	height: 2em;
	margin-right: 1.6em;
	cursor: pointer;
	background-image: url(../public/img/icons/icons-invitations-action.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
}

.online-players table {
	margin: 0 0.5em;
	border-collapse:separate; 
	border-spacing: 0 0.4em;

}

.online-players th {
	background-color: #fcb424;
	padding: 0.5em 0.8em;
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	text-align: left;
}

.online-players td {
	background-color: white;
	border-top: 1px solid #fcb424;
	border-bottom: 1px solid #fcb424;
	padding: 0.5em 0.8em;
	min-height: 35px;
}

.online-players td:first-child,
.online-players th:first-child {
	border-left: 1px solid #fcb424;
	width: 35px;
	font-size: 0em;
	background-image: url(../public/img/icons/icons-invitation.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
}

.online-players td:last-child {
	border-right: 1px solid #fcb424;
	text-align: center;
	font-weight: 600;
	font-size: 1.2em;
	color: #ef7218;
}

.online-players th:last-child {
	text-align: center;
}

#inviters tr,
#other-users tr {
	cursor: pointer;
}

#invited tr {
	cursor: context-menu;
}

#inviters td:first-child {
	background-position: left;
}

#inviters td {
	border-color: #91ce0e;
}

#invited td:first-child {
	background-position: center;
}

#invited td {
	border-color: #3baffa;
}

.online-players td:nth-child(2),
.online-players th:nth-child(2) {
	width: 30%;
}

.online-players td:nth-child(3),
.online-players th:nth-child(3) {
	width: 55%;
}

.online-players td:nth-child(3) {
	color: #fcb424;
	font-weight: 600;
}